<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900153953394-blmqtcvppk2i7bi2d85o3leernjvdepe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900153953394-blmqtcvppk2i7bi2d85o3leernjvdepe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900153953394-rucnd1mmpat13ofongdvtrhf7ap4mnu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx2XyMVrjEiWuqeuJkrhf0gTmWvIrtGm0</string>
	<key>GCM_SENDER_ID</key>
	<string>900153953394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebuy</string>
	<key>PROJECT_ID</key>
	<string>ebuy-21912</string>
	<key>STORAGE_BUCKET</key>
	<string>ebuy-21912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900153953394:ios:c052aa1570e6cc801ac6eb</string>
</dict>
</plist>